# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit tmux plugins, tpm will install these
/link/.tmux/plugins
/link/.tmux/resurrect

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Don't commit fish prompt as it is handled by omf
/config/fish/functions/fish_prompt.fish

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Created by https://www.gitignore.io/api/osx

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# End of https://www.gitignore.io/api/osx
